clean.sh
*.log
fx_profile/
ch_profile/
userdata/
analysisdata/
.screenshot.png
.saved_data
__pycache__/
tst.py
decrypted_files/
node_modules/

# Optional: Log files, editor directories, and other non-relevant files
npm-debug.log
logs/
.vscode/
.idea/
*.swp
.DS_Store